body {
    margin: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
    color: #444;
    background-color: #F1F1F1;
}

.container {
    width: 71%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.card {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
}

#c2 {
    display: grid;
    padding-left: 10px;
}

nav > .container > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.075);
}

nav > .container > ul > li {
    display: inline;
    padding-right: 40px;
    color: #666666;
    font-weight: 400;
}

nav > .container > ul > li:hover {
    color: #444;
}

nav {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
}

li > a.active {
    padding-bottom: 19px;
    border-bottom: 2px solid #7853b4;
    color: #444;
}

#topbar {
    margin-top: 20px;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

aside.card {
    margin-top: 10px;
}

.card-article {
    float: left;
    background: #fff;
    padding: 1rem;
    margin: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
    height: 100%;
    width: 70%;
    border-bottom: 1px solid rgba(0,0,0,.075);
    cursor: pointer;
    transition: all .2s;
}

.card-article:hover {
    background-color: rgb(249, 249, 249);
}

.card-article > .heading {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
}

.card-article > .description {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #888;
}

.card > .heading {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.card > .description {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#first-article {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#last-article {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-primary {
    background-color: #7853b4;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
}

.button-primary:hover {
    background-color: #4e3675;
}
